body {
    text-align: center;
}

h1 {
    margin: 0px;
}

.color {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    float: left;
    margin: 2px;
}

#color1 {
    background-color: black;
}

#color2 {
    background-color: yellow;
}

#color3 {
    background-color: green;
}

#color4 {
    background-color: red;
}

#pixel-board {
    clear: left;
    display: flex;
}

.pixel {
    background-color: white;
    width: 40px;
    height: 40px;
    border: 1px black solid;
}